- Functional requirements
  - Submission requests (SubmissionRequests)
    - The client shall be able to specify:
        - The arbitrary files that the execution needs in utf8, hex or base64 (Files)
        - The dependencies that their code needs as nix packages (Dependencies)
        - How to compile the code as a shell script (Compile)
        - How to run the code as a shell script (Run)
        - The environment variables that the execution needs (Environment)
        - The standard input that the execution needs (STDIN)
        - The standard arguments that the execution needs (ARGS)
  - Submission status request (SubmissionStatus)
    - The client shall be able to:
      - Check:
        - If their submission got picked up by a worker (Pending)
        - Whether the dependencies of their submission got installed
          successfully (dependencies stage) (DependenciesInstalled)
        - Whether the their submission's code finished compiling (compile stage) (Compiled)
        - Whether the their submission's code finished running (run stage) (Ran)
        - The result of their submission (each stage's stderr, stdout, signal, time, memory) (Result)
  - Get packages request (PackagesRequest)
    - The client shall be able to retrieve the cached packages (Retrieve)
  - Execution limits (Limits)
    - For each stage, the client shall be able to specify linux "prlimits" (PrLimits)
