- Functional requirements
  - Submission requests (SubmissionRequests)
    - The client shall be able to specify:
        - The arbitrary files that the execution needs in utf8, hex or base64 (Files)
        - The dependencies that their code needs as nix packages (Dependencies)
        - How to compile the code as a shell script (Compile)
        - How to run the code as a shell script (Run)
          - Different test cases to run on (Multiple)
        - The environment variables that the execution needs (Environment)
        - The standard input that the execution needs (STDIN)
        - The standard arguments that the execution needs (ARGS)
    - The system shall cache newly requested dependencies (Cache)
  - Submission status request (SubmissionStatus)
    - The client shall be able to:
      - Check:
        - if their submission is still in queue (Pending)
        - Whether the dependencies of their submission got installed
          successfully (dependencies stage) (DependenciesInstalled)
        - Whether the their submission's code finished compiling (compile stage) (Compiled)
        - Whether the their submission's code finished running (run stage) (Ran)
        - The result of their submission (each stage's stderr, stdout, signal, time, memory) (Result)
  - Get packages request (PackagesRequest)
    - The client shall be able to retrieve the cached packages (Retrieve)
  - Execution limits (Limits)
    - For each stage, the client shall be able to specify linux "prlimits" (PerRequestLimits)
    - For the entire system there's a config file that has the maximum possible values of per request limits (GlobalLimits)

- Non-Functional requirements
  - Isolation (Isolation)
    - Every Submission shall not see nor affect other submissions (Submission)
    - Every Submission Dependencies shall not conflict with other Submission Dependencies (Dependencies)
  - Security (Security)
    - Clients shall not be able to escape the code execution activity and gain access to the underlying system
      (Escaping)
  - Performance (Performance)
    - The system shall be able to accommodate cached nix packages which decreases latency when client asks
      for a dependency that has been specified by (possibly) another client (Cache)
    - The system shall provide the nix-shell dependencies to decrease the nix-shell start-up time (Nix)
  - Availability (Availability)
    - The system shall be able to accommodate at least 1 redundant code executors to prevent down-time
      (Executor)
    - The system shall be able to accommodate at least 1 redundant cache builders to prevent down-time
      (CacheBuilder)
  - Scalability (Scalability)
    - The System administrator shall be able to increase/decrease the number of executors in the system (Executor)
    - The System administrator shall be able to increase/decrease the number of cache builders in the system
      (CacheBuilder)
  - Configurability (Configurability)
    - Configuring per-stage limits (Limits)
